.EventInfo section img {
    height: 75px;
    width: 150px;
}

.EventInfo {
    margin: 15px;
    display: flex;
    flex-direction: column;
    width: 70%;
  
}

.EventInfo button {
    border-radius: 5px;
    font-size: 1em;
    width: 200px;
}

.EventInfo button:hover {
    background-color: salmon;
}


