.App {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 100vw;
  background-color: rgba(36, 36, 36, 0.75);
  min-height: 100vh;
  padding: 15px;
  position: relative;
}

.App h1 {
    margin: 0px;
    color: white;
}
